.decoder-row {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.guesses-container {
  display: inline-flex;
  flex-direction: row;
  padding: 6px;
  margin-right: 56px;
}

.guess {
  margin: 6px;
  outline-style: solid;
  outline-width: 1px;
}

.hints-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width of two hint blocks, plus padding */
  min-width: calc(22px + 22px + 12px);
}

.hint {
  flex-basis: 22px;
  margin: 3px;
  outline-style: solid;
  outline-width: 1px;
}
