.choices-container {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 6px;
}

.choice {
  border-radius: 50%;
  cursor: pointer;
  margin: 6px;
  outline-style: solid;
  outline-width: 1px;
}

.choice > div {
  border-radius: 50%;
}

.choice.selected {
  outline-style: solid;
  outline-width: 4px;
}
