.control-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  position: sticky;
  top: 20px;
}

.reset-icon-container {
  cursor: pointer;
  margin: 10px;
}
